{{#each movies}}
  <li class="gallery__item film-card" data-id="{{id}}">
    <a class="gallery__link" href="#">
      {{!-- <img
        src="{{../base_path}}w500{{poster_path}}"
        loading="lazy"
        class="film-card__image"
        alt="{{original_title}}"
      /> --}}
      <picture>
        <source
          srcset="
            {{../base_path}}w780{{poster_path}} 1x,
            {{../base_path}}original{{poster_path}} 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            {{../base_path}}w342{{poster_path}} 1x,
            {{../base_path}}w500{{poster_path}} 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            {{../base_path}}w154{{poster_path}} 1x,
            {{../base_path}}w342{{poster_path}} 2x
          "
          media="(min-width:480px)"
        />
        <img
          class="film-card__image"
          src="{{../base_path}}w500{{poster_path}}"
          width="280"
          alt="{{original_title}}"
        />
      </picture>
      <div class="film-card__group">
        <p class="film-card__title" title="{{title}}">{{title}}</p>
        <div class="film-card__info">
          <p class="film-card__genre">{{genres}} | {{year}}</p>
          {{!-- <p class="film-card__year">{{year}}</p> --}}
          {{!-- <p class="film-card__rate">10.0</p> --}}
        </div>
      </div>
    </a>
  </li>
{{/each}}
