<h2 class="modal__title">&#x1F499; Team BAVOVNA &#x1F49B;</h2>
  <ul class="team-pics ">
{{#each this}}
  <li class="team-item">
    <div class="box-overlay">
    <img
    class="team-image"
    src={{photo}}
    alt={{name}}
    />
    <div class="overlay">
                  <p class="overlay__text">{{quote}}
                </p>
                </div>
                </div>
    <div class="member-description">
    <h3 class="team-member">{{name}}</h3>
    <p lang="en" class="team-member-text ">{{role}}</p>
    <a class="git-icon" href="{{gitUrl}}" >GitHub</a>
    </div>
    </li>
{{/each}}
  </ul>